<div class="flex flex-col lg:flex-row gap-2">
  <div class="lg:w-[30%] 2xl:h-[550px]">
    <div class="flex justify-end">
      <div>
        <!-- Vacio -->
      </div>
      <div class="withMe lg:w-[200px] 2xl:w-[330px] p-5 rounded-xl shadow-md shadow-blueLight mt-5">
        <p class="text-white">Yo soy,</p>
        <p class="text-secundary">Alejandro Toro</p>
        <p class="text-blueLight">Desarrollador
          Web Full Stack e ingeniero de telecomunicaciones</p>
      </div>
    </div>
  </div>
  <div class="lg:w-[40%] 2xl:h-[550px] 2xl:p-10 sm:ml-[40px]">
    <img src="../../../../assets/me.png" class="my-0 mx-auto"  alt="imagen alejandro toro" width="400px" height="400px">
  </div>
  <div class="lg:w-[30%] lg:h-[300px] 2xl:h-[550px]">
    <div class="flex flex-col justify-between h-full">
      <div class="">
        <!-- Vacio -->
      </div>
      <div class="resumen lg:w-[220px] 2xl:w-[330px] p-5 rounded-xl shadow-md shadow-secundary mt-5">
        <p class="text-white">
          Apacionado por el
          <span class="text-blueLight">mundo IT</span>,
          con más de
          <span class="text-secundary">3 años de experiencia</span>
          laboral entre ingeniero y desarrollador.
          <span class="text-blueLight">No dudes en contactarme</span>,
          puedo <span class="text-secundary">aportar mucho valor</span>
        </p>
      </div>
    </div>
  </div>
</div>
