<div class="flex flex-col lg:flex-row gap-2">
  <div class="lg:w-[30%] 2xl:h-[550px]">
    <div class="flex justify-end">
      <div>
        <!-- Vacio -->
      </div>
      <div class="withMe lg:w-[200px] 2xl:w-[330px] p-5 rounded-xl shadow-md shadow-blueLight mt-5">
        <p class="text-white">Yo soy,</p>
        <p class="text-secundary">Alejandro Toro</p>
        <p class="text-blueLight">Desarrollador
          Web Full Stack e ingeniero de telecomunicaciones</p>
      </div>
    </div>
  </div>
  <div class="lg:w-[40%] 2xl:h-[550px] 2xl:p-10 sm:ml-[40px]">
    <img src="../../../../assets/me.png" class="my-0 mx-auto"  alt="imagen alejandro toro" width="400px" height="400px">
  </div>
  <div class="lg:w-[30%] lg:h-[300px] 2xl:h-[550px]">
    <div class="flex flex-col justify-between h-full">
      <div class="">
        <!-- Vacio -->
      </div>
      <div class="resumen lg:w-[220px] 2xl:w-[330px] p-5 rounded-xl shadow-md shadow-secundary mt-5">
        <p class="text-white">
          Apacionado por el
          <span class="text-blueLight">mundo IT</span>,
          con más de
          <span class="text-secundary">3 años de experiencia</span>
          laboral entre ingeniero y desarrollador.
          <span class="text-blueLight">No dudes en contactarme</span>,
          puedo <span class="text-secundary">aportar mucho valor</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col mt-10">
  <h1 class="text-light text-2xl text-center">HABILIDADES <span class="text-secundary">FRONT</span> - <span class="text-blueLight">BACKEND</span></h1>
  <div class="flex justify-around mt-16">
    <div class="hidden md:block">
      <i title="HTML" class="fa-brands fa-html5 text-secundary text-[50px] fa-bounce"></i>
    </div>
    <div class="hidden md:block">
      <i title="CSS" class="fa-brands fa-css3-alt text-secundary text-[50px] fa-beat"></i>
    </div>
    <div class="hidden md:block">
      <i title="JAVASCRIPT" class="hidden  fa-brands fa-js text-secundary text-[50px] fa-bounce"></i>
    </div>
    <div>
      <i title="ANGULAR" class="fa-brands fa-angular text-secundary text-[50px] fa-beat"></i>
    </div>
    <div>
      <i title="REACT" class="fa-brands fa-react text-secundary text-[50px] fa-bounce"></i>
    </div>
    <div>
      <i title="NODE.JS" class="fa-brands fa-node text-blueLight text-[50px] fa-beat"></i>
    </div>
    <div>
      <i title="PHP" class="fa-brands fa-php text-blueLight text-[50px] fa-bounce"></i>
    </div>
    <div>
      <i title="MYSQL, MONGODB, POSTGRESQL" class="fa-solid fa-database text-blueLight text-[50px] fa-beat"></i>
    </div>
  </div>
</div>

