<div class="flex flex-col lg:flex-row gap-2">
  <div class="lg:w-[30%] 2xl:h-[550px]">
    <div class="flex justify-end">
      <div>
        <!-- Vacio -->
      </div>
      <div class="withMe lg:w-[200px] 2xl:w-[330px] p-5 rounded-xl shadow-md shadow-blueLight mt-5">
        <p class="text-white">Yo soy,</p>
        <p class="text-secundary">Alejandro Toro</p>
        <p class="text-blueLight">Desarrollador
          Web Full Stack e ingeniero de telecomunicaciones</p>
      </div>
    </div>
  </div>
  <div class="lg:w-[40%] 2xl:h-[550px] 2xl:p-10 sm:ml-[40px]">
    <img src="../../../../assets/me.png" class="my-0 mx-auto"  alt="imagen alejandro toro" width="400px" height="400px">
  </div>
  <div class="lg:w-[30%] lg:h-[300px] 2xl:h-[550px]">
    <div class="flex flex-col justify-between h-full">
      <div class="">
        <!-- Vacio -->
      </div>
      <div class="resumen lg:w-[220px] 2xl:w-[330px] p-5 rounded-xl shadow-md shadow-secundary mt-5">
        <p class="text-white">
          Apacionado por el
          <span class="text-blueLight">mundo IT</span>,
          con más de
          <span class="text-secundary">3 años de experiencia</span>
          laboral entre ingeniero y desarrollador.
          <span class="text-blueLight">No dudes en contactarme</span>,
          puedo <span class="text-secundary">aportar mucho valor</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Habilidades -->
<div class="flex flex-col mt-16">
  <h1 class="text-light text-2xl text-center">HABILIDADES <span class="text-secundary">FRONT</span> - <span class="text-blueLight">BACKEND</span></h1>
  <div class="flex justify-around mt-16">
    <div class="hidden md:block">
      <i title="HTML" class="fa-brands fa-html5 text-secundary text-[50px] fa-bounce"></i>
    </div>
    <div class="hidden md:block">
      <i title="CSS" class="fa-brands fa-css3-alt text-secundary text-[50px] fa-beat"></i>
    </div>
    <div class="hidden md:block">
      <i title="JAVASCRIPT" class="hidden  fa-brands fa-js text-secundary text-[50px] fa-bounce"></i>
    </div>
    <div>
      <i title="ANGULAR" class="fa-brands fa-angular text-secundary text-[50px] fa-beat"></i>
    </div>
    <div>
      <i title="REACT" class="fa-brands fa-react text-secundary text-[50px] fa-bounce"></i>
    </div>
    <div>
      <i title="NODE.JS" class="fa-brands fa-node text-blueLight text-[50px] fa-beat"></i>
    </div>
    <div>
      <i title="PHP" class="fa-brands fa-php text-blueLight text-[50px] fa-bounce"></i>
    </div>
    <div>
      <i title="MYSQL, MONGODB, POSTGRESQL" class="fa-solid fa-database text-blueLight text-[50px] fa-beat"></i>
    </div>
  </div>
</div>

<!-- Experiencia laboral -->

<div class="mt-16 flex flex-col mb-16">
  <h1 class="text-secundary text-2xl text-center">EXPERIENCIA LABORAL</h1>
  <div class="grid sm:grid-cols-1  md:grid-cols-2 xl:grid-cols-3 mt-16 gap-10">
    <div class="rounded-xl h-auto shadow-md"
        [ngClass]="{'card-one shadow-secundary': i % 2 !== 0, 'card-two shadow-blueLight': i % 2 == 0}"
        *ngFor="let workExperience of workExperienceDevelop; let i = index"
    >
      <div class="w-[90%] mx-auto my-3">
        <!-- Empresa y fecha laboral -->
        <div class="flex flex-row justify-between">
          <div class="w-[70%]">
            <p class="text-white text-xl"><span class="text-secundary">Empresa:</span>  {{workExperience.company}}</p>
          </div>
          <p class="text-blueLight text-xs p-1"> {{ workExperience.workDate.start }} - {{ workExperience.workDate.end }} </p>
        </div>
        <!-- Description empresa -->
        <div class="mt-1">
          <span class="text-blueLight text-sm"> {{ workExperience.description }} </span>
        </div>
        <!-- Cargo -->
        <div class="mt-1">
          <p class="text-white text-base"><span class="text-secundary">Cargo:</span> {{ workExperience.position }} </p>
        </div>
        <!-- Area  -->
        <div>
          <p class="text-white text-base"><span class="text-secundary">Area:</span> {{ workExperience.area }} </p>
        </div>
        <!-- Responsabilidades  -->
        <div class="mt-1">
          <p class="text-white text-base"><span class="text-secundary">Responsabilidades:</span></p>
          <div class="grid grid-cols-2 text-sm">
            <p class="text-white" *ngFor="let item of workExperience.responsabilities"><span class="text-blueLight">*</span> {{ item }}</p>
          </div>
        </div>
        <!-- Skills  -->
        <div class="mt-1">
          <p class="text-white text-base"><span class="text-secundary">Habilidades:</span></p>
          <div class="grid grid-cols-3 text-sm">
            <p class="text-white" *ngFor="let item of workExperience.skills"><span class="text-blueLight">*</span> {{ item }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

