<div class="container w-2/4 h-80 welcome">
  <div class="flex flex-col">
    <h1 class="text-9xl text-secundary">BIENV<span class="text-blueLight">E</span><span class="text-light">NIDOS</span></h1>
    <div class="flex p-14">
      <div>
        <img src="../assets/marcaName.png" alt="" width="500px">
      </div>
      <div class="mt-8 ml-8 cursor-pointer">
        <p class="text-light text-xl hover:text-secundary" [routerLink]="route.route">
          <span class="text-blueLight"> &lt;</span>VerMás  <span class="text-blueLight">/&gt;</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- name: '<VerMás/>', -->
