
<div class="flex justify-around mb-5 lg:mb-0 lg:w-[8%] lg:h-[500px] lg:fixed lg:top-[25%] lg:z-50 lg:flex lg:flex-col">
  <div>
    <a href="https://www.linkedin.com/in/h%C3%A9ctor-alejandro-toro-bernal-5675a6180/" target="_blank">
      <i title="Linkedin" class="fa-brands fa-linkedin text-white text-[30px] lg:text-[40px] xl:text-[50px] p-3 lg:p-7"></i>
    </a>
  </div>
  <div>
    <a href="https://github.com/hatorob" target="_blank">
      <i title="Github" class="fa-brands fa-github text-white text-[30px] lg:text-[40px] xl:text-[50px] p-3 lg:p-7"></i>
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/_alejandro_toro/" target="_blank">
      <i title="Instagram" class="fa-brands fa-instagram text-white text-[30px] lg:text-[40px] xl:text-[50px] p-3 lg:p-7"></i>
    </a>
  </div>
  <div>
    <a href="../../../assets/Héctor_Alejandro_Toro_Bernal_CV.pdf" download>
      <i title="CV" class="fa-solid fa-download text-white text-[30px] lg:text-[40px] xl:text-[50px] p-3 lg:p-7"></i>
    </a>
  </div>
</div>

